header{
    text-align: center;
    border: solid;
    border-color:darkslateblue;
}
nav{
    text-align: center;
    float: left;
    border: solid;
    width: 15%;
    border-color:darkslateblue;
}

h1{
    color:chocolate;
    text-shadow: chocolate 1px 0 10px;
}
h1:hover{
    color: darkred;
    text-shadow: darkred 1px 0 10px;
}

a:hover{
    color: chocolate;
}

body{
    background-color: bisque;
}

section{
    width: 100%;
}

iframe{
    border: solid;
    width: 84%;
    border-color:darkslateblue;
}

nav,section,iframe{
    height: 525px;
}

footer{
    border-color:darkslateblue;
    border: solid;
    text-align: center;
}


h2{
    color: chocolate;
    text-shadow: chocolate 1px 0 10px;
}
h2:hover{
    color: darkred;
    text-shadow:darkred 1px 0 10px;
}

fieldset{
    background-color:darksalmon;
    border-radius: 5% 5%;
    border-color:coral;
    border-style: dotted;
    text-align: left;
}
input[type=tel]
{
    background-color:lightgoldenrodyellow;
    border-color:bisque;
    border-style: solid;
    border-radius: 10px;
}
input[type=email]
{
    background-color:lightgoldenrodyellow;
    border-color:bisque;
    border-style: solid;
    border-radius: 10px;
}
input[type=text]
{
    background-color:lightgoldenrodyellow;
    border-color:bisque;
    border-style: solid;
    border-radius: 10px;
}

table{
    margin: auto;
}
td,th{
    height: 50px;
    width: 500px;
}
th{
    background-color: coral;
}
td{
    background-color: darksalmon;
}